In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('testes-ep1.log', sep="\t", header=None)
df.columns = ["name", "i", "num_process", "num_threads", "time"]

In [3]:
df.head()

,name,i,num_process,num_threads,time
0,mandelbrot_ompi,i: 1,num_process: 1,num_threads: 1,time: 3478927 microsegundos
1,mandelbrot_ompi,i: 2,num_process: 1,num_threads: 1,time: 3347121 microsegundos
2,mandelbrot_ompi,i: 3,num_process: 1,num_threads: 1,time: 3341435 microsegundos
3,mandelbrot_ompi,i: 4,num_process: 1,num_threads: 1,time: 3337816 microsegundos
4,mandelbrot_ompi,i: 5,num_process: 1,num_threads: 1,time: 3335717 microsegundos

In [4]:
df['i'] = pd.to_numeric(df['i'].apply(lambda x: x[3:]))
df['num_process'] = pd.to_numeric(df['num_process'].apply(lambda x: x[13:]))
df['num_threads'] = pd.to_numeric(df['num_threads'].apply(lambda x: x[13:]))
df['time'] = pd.to_numeric(df['time'].apply(lambda x: x[6:-14]))

In [5]:
df.head()

              name  i  num_process  num_threads     time
0  mandelbrot_ompi  1            1            1  3478927
1  mandelbrot_ompi  2            1            1  3347121
2  mandelbrot_ompi  3            1            1  3341435
3  mandelbrot_ompi  4            1            1  3337816
4  mandelbrot_ompi  5            1            1  3335717

In [6]:
df2 = df.groupby(['name', 'num_process', 'num_threads'], as_index=False).agg({'time':['mean','std']})

In [7]:
df2.to_csv('CSV/dados-ep1.csv')

In [8]:
df2.head()

                  name num_process num_threads        time
                                                      mean            std
0      mandelbrot_ompi           1           1  3356409.90   43518.036594
1      mandelbrot_ompi           8           1  1455888.40  131034.630786
2      mandelbrot_ompi          16           1  1110510.40   88382.052397
3  mandelbrot_ompi+pth           1           1  3359270.85   18457.942744
4  mandelbrot_ompi+pth           1           2  1931136.85     938.454400